{% extends 'speech/base.html' %}
{% block title %}Your Speeches - Pepper Control{% endblock %}
{% block extra_css %}
{% load static %}
  <link rel="stylesheet" href="{% static 'speech/css/user_speeches.css' %}">
{% endblock %}
{% block content %}
<div class="container" style="flex-grow: 1;">
    <h1>Your Speeches</h1>

    <!-- Create New Speech Button -->
    

    <!-- List of Speeches -->
    {% if speeches %}
    <div class="create-speech" style="text-align: center;">
        <a href="{% url 'create_speech' %}" class="create-btn">Create New Speech</a>
    </div>
    <ul class="speech-list">
        {% for speech in speeches %}
            <li class="speech-item">
                <strong>{{ speech.title }}</strong><br>
                <p>{{ speech.content|truncatechars:100 }}</p>
                <div class="speech-actions">
                    <a href="{% url 'edit_speech' speech.id %}" class="edit-btn">Edit</a>
                    <a href="{% url 'delete_speech' speech.id %}" class="delete-btn" onclick="return confirm('Are you sure you want to delete this speech?');">Delete</a>

                    <!-- Delete Form
                    <form action="{% url 'delete_speech' speech.id %}" method="post" style="height: fit-content;display: flex;align-items: center;justify-content: center;" onsubmit="return confirm('Are you sure you want to delete this speech?');">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn" style="margin: auto;">Delete</button>
                    </form> -->
                    <a href="{% url 'play_speech' speech.id %}" class="play-btn">Play</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p style="text-align: center;">You have no speeches yet. <a href="{% url 'create_speech' %}">Create a new speech</a>.</p>
    {% endif %}
</div>
{% endblock %}